.login-main-container {
  background-color: #f7fcfc;
  height: 100vh;
}

@media (min-width: 768px) {
  .login-main-container {
    width: 100vw;
    height: 100vh;
    top: 9322px;
    left: 3176px;
    padding: 0px 89px 0px 0px;
    gap: 0px;
    opacity: 0px;
  }
  .form-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.login-image {
  display: none;
}

@media (min-width: 768px) {
  .login-image {
    display: block;
    width: 780px;
    height: 100vh;
  }
}

.login-form {
  background-color: #ffffff;
  height: 640px;
  width: 360px;
  top: 12042px;
  left: 3176px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .login-form {
    width: 499px;
    height: 484px;
    background-color: #ffffff;
    top: 270px;
    left: 852px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.login-mobile-image {
  width: 216px;
  height: 216px;
  top: 32px;
  left: 72px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .login-mobile-image {
    display: none;
  }
}
.book-hub-logo {
  width: 104px;
  height: 20px;
}
@media (min-width: 768px) {
  .book-hub-logo {
    width: 141px;
    height: 48px;
  }
}
.login-input-container {
  width: 312px;
  height: 90px;
  left: 24px;
}
.login-label {
  font-family: inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.36px;
  color: #5a7184;
  top: 3px;
}
.login-input-el {
  width: 312px;
  height: 56px;
  top: 34px;
  border-radius: 5px;
}

.login-btn {
  width: 312px;
  height: 40px;
  top: 544px;
  left: 24px;
  background-color: #0284c7;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 21.79px;
  align: center;
  color: #ffffff;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}
.login-error-msg {
  font-family: HK Grotesk;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.24px;
  text-align: left;
  color: #ef4444;
}

@media (min-width: 768px) {
  .login-input-container {
    width: 360px;
    height: 90px;
  }
  .login-input-el {
    width: 360px;
    height: 56px;
    top: 34px;
  }
  .login-btn {
    width: 360px;
    height: 56px;
  }
  .login-error-msg {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    color: #ef4444;
  }
}
